
@{
    ViewData["Title"] = "ViewDataSample";
}

<h1>ViewDataSample</h1>

<!-- HTML Code-->
@ViewData["CoronaID"]

@ViewData["IrgendEinEintrag"]

@ViewData["CoronaID"]

@ViewData["CoronaID"]

@ViewData["CoronaID"]

@ViewData["CoronaID"]

@ViewData["CoronaID"]

@ViewData["CoronaID"]

